name: main

on:
  push:
    branches:
      - main

jobs:
  Verify-Credentials-to-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: aws-actions/configure-aws-credentials@main
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-3
      - run:  aws s3 ls s3://salma-tanaoui-website

  build-deploy-infra:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@main
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: aws-actions/setup-sam@v1
      - uses: aws-actions/configure-aws-credentials@main
        with:
           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           aws-region: eu-west-3
      - run: sam build
        working-directory: Club-Sidi-Bouzid
      
  


        